body {
    background-image: url(https://media.giphy.com/media/12wt0nNOpsozU4/giphy.gif);
    background-size: 100%;
    color: ghostwhite;
}


#image-minecraft-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font-family: monospace;
    font-weight: bold;
    background-color: rgba(255,250,250, 40%);
    color: rgba(0, 0, 0, 80%);
    font-size: 60px;
    text-align: center;
}

p{
    font-family: monospace;
    background-color: rgba(0, 0, 0, 70%);
    font-size: 30px;
    text-align: center;
    position: relative;
    left: 430px;
    bottom: 10px;
    width: 800px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(139,69,19, 50%); /* brown color */
}

li a {
    display: block;
    color: rgb(96 255 0); /* light green color */
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(30 129 22); /* dark green color */
    color: white;
}
    
.active {
    background-color: brown;
    color: white;
}