body {
    background-image: url(https://media.giphy.com/media/12wt0nNOpsozU4/giphy.gif);
    background-size: 100%;
    color: ghostwhite;
}

#image-minecraft-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font-family: monospace;
    font-size: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(92 82 0); /* brown color */
}

li a {
    display: block;
    color: rgb(96 255 0); /* light green color */
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(30 129 22); /* dark green color */
    color: white;
}

.active {
    background-color: brown;
    color: white;
}